export (add_sweep, animate_chunk, animate_polar_chunk, blackman, coords, correct_range_dependence, deg, estimate_currents, estimate_radial_currents, estimate_range_equalizer, fcon,  getChunk, getWindow, hamming, hanning, indices, makeSweeps, planeWave, plot_radial_velocity_field, plot_velocity_field, rangeCorrectionScale, rad, rbow, repAlong, zero_pad)
